@font-face {
    font-family: 'Metropolis';
    src: url('./assets/fonts/Metropolis-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.container {
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100vh;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.loadingContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loadMore {
    font-family: 'Metropolis', sans-serif !important;
    border: 0;
    margin-bottom: 15px;
    transition: background-color 0.5s;
    min-width: 15rem;
    padding: 1rem 2rem;
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background: #363636;
    color: white;
    border-radius: 50px;
    font-weight: 500;
}

.loadMore:hover {
    background-color: #FF6961;
}

.loadMore:focus {
    text-decoration: none;
    outline: none;
}