.navbar {
    display: flex;
    align-items: center;
    margin: 20px;
}

.icon {
    width: 35px;
    margin-right: 10px;
}

.title {
    font-size: 30px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.loading {
    margin-top: 200px;
    text-align: center;
}

.loadingContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}