.navbar {
    display: flex;
    align-items: center;
    margin: 20px;
}

.icon {
    width: 35px;
    margin-right: 10px;
}

.title {
    font-size: 30px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
}

.loading {
    margin-top: 200px;
    text-align: center;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 35px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pageNumbers {
    display: flex;
}

.pageNumbers button {
    margin: 0 2px;
    padding: 15px;
}

.pageNumbers button.activePage {
    background-color: #007bff;
    color: #fff;
}

.loadingContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}