.navbar {
    display: flex;
    align-items: center;
    flex-wrap: auto;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    font-size: 30px;
}

.options {
    display: flex;
    align-items: center;
}

.searchInput {
    border: 0;
    padding: 10px 25px 10px 10px;
    border-radius: 10px;
    background-color: #DDDDDD;
}

.searchInputDarkMode {
    background-color: #161616;
    color: #F0F0F0;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 8px 0px;
}

input:focus{
    outline: none;
}

.searchBox {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navIcon {
    margin-left: 10px;
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.navIcon:hover {
    transform: scale(1.25);
}

.selectType {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 8px 0px;
    padding: 10px 25px 10px 10px;
    border-radius: 10px;
    border: 0;
    margin-right: 10px;

    background-color: #DDDDDD;
}

select:focus{
    outline: none;
}

.selectTypeDarkMode {
    background-color: #161616;
    color: #F0F0F0;
}

@media (max-width: 560px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
    }

    .navbar > *:not(:first-child) {
        margin-top: 10px;
    }    
}