@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  font-family: 'Metropolis', sans-serif;
}

@media (min-width: 768px) {
  .container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1200px) {
  .container {
    margin-left: 25%;
    margin-right: 25%;
  }
}