.darkMode {
  background-color: #161616;
  color: #EEEEEE;
  transition: all 0.5s ease;
}

.lightMode {
  background-color: #f2f2f2;
  color: #161616;
  transition: all 0.5s ease;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  transition: backdrop-filter 1s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: slideInFromBottom 0.2s ease-in-out forwards;
  overflow: hidden;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.scrollButton {
  border: 0;
  background: #FF6961;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  cursor: pointer;
  transition: opacity .5s;
}

.scrollButton:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.2s ease-in-out forwards;
}