@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.darkMode {
  background-color: #2E2E2E;
  color: white;
  transition: all 0.5s ease;
}

.lightMode {
  background-color: white;
  color: black;
  transition: all 1s ease;
}

.container {
  font-family: 'Metropolis', sans-serif !important;
  transition: 'all 1s ease';
}